Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Console/obj/Debug/Console.csprojAssemblyReference.cache
Console/obj/Debug/Console.csproj.FileListAbsolute.txt
Console/obj/Debug/Console.csproj.CoreCompileInputs.cache
Console/obj/Debug/Console.csproj.CopyComplete
Console/bin/Debug/tempsignedxml-output.txt
Console/bin/Debug/Xades.pdb
Console/bin/Debug/Xades.dll
Console/bin/Debug/Signed.xml
Console/bin/Debug/Sign.xml
Console/bin/Debug/Microsoft.Xades.pdb
Console/bin/Debug/Microsoft.Xades.dll
Console/bin/Debug/CryptoPro.Sharpei.Base.xml
Console/bin/Debug/CryptoPro.Sharpei.Base.dll
Console/bin/Debug/Console.vshost.exe.manifest
Console/bin/Debug/Console.vshost.exe.config
Console/bin/Debug/Console.vshost.exe
Console/bin/Debug/Console.pdb
Console/bin/Debug/Console.exe.config
Console/bin/Debug/Console.exe
Console/bin/Debug/BouncyCastle.Crypto.dll
Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Console/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Console/obj/Debug/Console.pdb
Console/obj/Debug/Console.exe
Console/obj/Debug/Console.csprojResolveAssemblyReference.cache
Xades/bin/Debug/ru/System.Net.Http.resources.dll
Xades/bin/Debug/Xades.tlb
Xades/bin/Debug/Xades.pdb
Xades/bin/Debug/Xades.dll
Xades/bin/Debug/System.Net.Http.xml
Xades/bin/Debug/System.Net.Http.dll
Xades/bin/Debug/Microsoft.Xades.tlb
Xades/bin/Debug/Microsoft.Xades.pdb
Xades/bin/Debug/Microsoft.Xades.dll
Xades/bin/Debug/Microsoft.Xades.Fakes.fakesconfig
Xades/bin/Debug/Microsoft.QualityTools.Testing.Fakes.dll
Xades/bin/Debug/CryptoPro.Sharpei.Xml.xml
Xades/bin/Debug/CryptoPro.Sharpei.Xml.dll
Xades/bin/Debug/CryptoPro.Sharpei.Base.xml
Xades/bin/Debug/CryptoPro.Sharpei.Base.dll
Xades/bin/Debug/BouncyCastle.Crypto.dll
Xades/obj/Debug/Xades.csprojResolveAssemblyReference.cache
Xades/obj/Debug/Xades.csprojFakesResolveAssemblyReference.cache
Xades/obj/Debug/Xades.csprojAssemblyReference.cache
Xades/obj/Debug/Xades.csproj.FileListAbsolute.txt
Xades/obj/Debug/Xades.csproj.CoreCompileInputs.cache
Xades/obj/Debug/Xades.csproj.CopyComplete
Xades/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Xades/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Xades/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Xades/obj/Debug/Fakes/mx/o/f.csprojResolveAssemblyReference.cache
Xades/obj/Debug/Fakes/mx/o/f.csproj.FileListAbsolute.txt
Xades/obj/Debug/Fakes/mx/o/Microsoft.Xades.Fakes.pdb
Xades/obj/Debug/Fakes/mx/o/Microsoft.Xades.Fakes.dll
Xades/obj/Debug/Fakes/mx/f.snk
Xades/obj/Debug/Fakes/mx/f.fakesconfig
Xades/obj/Debug/Fakes/mx/f.fakes
Xades/obj/Debug/Xades.pdb
Xades/obj/Debug/Xades.dll
Xades/obj/Debug/Fakes/mx/f.csproj
Xades/obj/Debug/Fakes/mx/f.cs
Xades/obj/Debug/Fakes/mx/f.ch
Xades/obj/Debug/Fakes/mx/f.ah
Xades/obj/Debug/Fakes/mx/b/Microsoft.Xades.pdb
Xades/obj/Debug/Fakes/mx/b/Microsoft.Xades.dll
Xades/obj/Debug/Fakes/mx/b/Microsoft.Xades.Fakes.xml
Xades/obj/Debug/Fakes/mx/b/Microsoft.Xades.Fakes.pdb
Xades/obj/Debug/Fakes/mx/b/Microsoft.Xades.Fakes.dll
Xades/obj/Debug/Fakes/mx/b/Microsoft.QualityTools.Testing.Fakes.dll
Xades/obj/Debug/Fakes/fakes.args
Xades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Xades/obj/Debug/DesignTimeResolveAssemblyReferences.cache
