<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<system.diagnostics> 
	  <sources> 
		<source name="System.Security.Cryptography.Xml.SignedXml" switchName="spSwitch"> 
		  <listeners> 
			<add initializeData="C:\PerfLogs\tempsignedxml-output.txt" type="System.Diagnostics.TextWriterTraceListener" 
				name="myLocalListener" /> 
		  </listeners> 
		</source> 
	  </sources> 
	  <switches> 
		<add name="spSwitch" value="Verbose" /> 
	  </switches> 
	  <trace autoflush="true"/> 
	</system.diagnostics> 
</configuration>
